<!-- Header -->
<header id="header" class="alt">
    <span class="logo"><img src="images/logo.svg" alt="" /></span>
    <h1>Welcome to SLIM4!</h1>
    <p>Slim4 skeleton (http + cli + oauth2) with some add-ons out of the box<br />
        built by <a href="https://github.com/jerfeson">Jerfeson Guerreiro</a>.</p>
</header>
