<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello world | Welcome to Slim 4</title>
    <link rel="stylesheet" href="/assets/tailwind/tailwind.css">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    {% block page_styles %}{% endblock %}
</head>
<body>
{% include "@site/layout/head.twig" %}
{% block content %}
{% endblock %}
<script type="text/javascript" src="assets/jquery/jquery-3.6.0.min.js"></script>
{% block page_scripts %}{% endblock %}
</body>
</html>




